.landing{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 0px 0px;
    max-width: 100%;
}

.landing .about{
    width: 50%;
    background-color: #ff5b79;
    color: white;
    height: auto;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about div{
    width: 70%;
    font-size: min(1rem, 16px);
    font-family: 'Sriracha', cursive;
    font-weight: 200;
}

.landing img{
    width: 50%;
    max-width: 100%;
    height: auto;
    min-height: 600px;
}

@media (max-width:850px){
    .landing{
        flex-direction: column;
    }
    .landing .about{
        width: 100%;
        height: auto;
        min-height: 600px;
    }

    .landing img{
        width: 100%;
        height: auto;
        min-height: 600px;
    }
}