.scroll-to-top{
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 14px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}


.scroll-to-top:hover{
    background-color:var(--primaryHover);
    transition: 0.3s ease;
}

.material-symbols-outlined.arrow{
    position: fixed;
    cursor: pointer;
    left: 22px;
    bottom: 22px;
    color: white;
}