.navigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    color: #FF385C;
    font-family: 'Sriracha', cursive;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.50);
    position: sticky;
    top: 0;
    z-index: 3;
    transition: 0.5s ease ;
}

.image-brandname{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    margin-right: 12px;
}

.navigationBar ul li{
    list-style: none;
}  

.material-symbols-outlined.menu{
       display: none;
}

/* --------------------- Responsive navbar ------------------------- */
.navLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 220px;
    transform: translateX(200px);
    transition: transform 0.5s ease;
    margin-left: 26px;
}
  
  .navLinks.active {
    transform: translateX(0px);
  }

@media  (max-width:850px){
    .navLinks {
    display: flex;
    padding: 10px;
    text-align: right;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 180px;
    background-color: #FF385C;
    color: white;
    text-align: center;
    z-index:2;
    }
    
    .navLinks.active {
    text-align: center;
    }
    /* --------------------- Responsive navbar ------------------------- */
    
    .navigationBar{
        padding: 0px;
    }

    .image-brandname a {
        font-size: 1.5rem;
    }

    .image-brandname img{
        width: 150px;
    }

    .material-symbols-outlined.menu{
        display: flex;
        cursor: pointer;
        margin-right: 8px;
    }

    /* Blur background */
    .blur-background{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        z-index: 1;
        backdrop-filter: blur(0);
        transition: backdrop-filter 0.5s ease;
    }
    
    .blur-background.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        backdrop-filter: blur(5px);
    }
    /* Blur background */
}


/* a Links */
a:link{
    text-decoration: none;
}

a {
    color: var(--white);
  }