.monasteries-wrapper{
  display: flex;
  flex-flow: row wrap;
  gap: 120px;
  justify-content: space-around;
  margin: 60px 10px 0px 10px;
}

.container.monasteries {
  transition: height 0.3s ease; 
  position: relative;
}

.container.monasteries.expanded {
  height: 710px; 
}

.container .info-button{
 border: none;
 border-radius: 4px;
 /* background-color: white;
 color: #ff385d; */
 background-color: #ff385d;
 color: white;
 font-weight: 600;
 padding: 6px;
 cursor: pointer;
 margin-top: 10px;
}

.button-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 4px 0px 0px;
}


.container.monasteries.expanded:hover, .container.monasteries:hover{
  background-color: var(--hoverColor);
  transition: 0.3s ease;
}
.information{
  margin: 10px 8px 0px 8px;
  font-family: "Open Sans";
  font-size: 0.9rem;
}

.hours{
  margin: 15px 0px 10px 0px;
  font-weight: 600;
}

@media (max-width:850px){
  .monasteries-wrapper{
    gap: 20px;
  }
}




