* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor:#ff5b79;
  --secondaryColor: #ffffff;
  --hoverColor:#cacaca;
  --primaryHover:#ff365a;
}

/* prevent the user from scrolling horizontally to see the hidden navigation bar  */
@media (max-width: 850px) {
  body,
  html {
    overflow-x: hidden;
  }
}